.field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    margin-right: 5px;
    position: relative;
    z-index: 2;
  }
.close{
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
  border: none;

}